.body {
  height: 100%;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



#home-button {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #FF3A4F;
  position: relative;
  outline: none;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  margin-top: 30px;
  transition: all .4s ease;
  background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
  box-shadow: inset 0px 1px 10px #b2f17f, 0px 6px 10px #484848;

  &:active {
    top: 20px;
    background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
    box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #484848;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    background: rgb(44,160,202);
  }

  &::before {
    background-color: transparent;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:4px;
    left:-2px;
    top:5px;
    z-index:-1;
    border-radius: 6px;
    box-shadow: 0px 1px 0px #fff;
  }
  &:active::before {
  top:-2px;
}


  a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }
}

#home-title {
  font-size: 120px;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin-bottom: 50px;
  font-weight: bold;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // p {
  //   font-size: 48px;
  //   text-shadow: horizontal-offset vertical-offset blur color;
  //   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  // }
}


.content {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  width: 900px;
  overflow:hidden;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  line-height: 40px;
  color: white;
  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 80px;
    width: 1000px;
    padding: 0 40px;
    &:before {
      content: '[';
      left: 0;
    }
    &:after {
      content: ']';
      position: absolute;
      right: 0;
    }
    &:after, &:before {
      position: absolute;
      top: 0;
      color: white;
      font-size: 42px;
      line-height: 80px;
      // -webkit-animation-name: opacity;
      // -webkit-animation-duration: 2s;
      // -webkit-animation-iteration-count: infinite;
      // animation-name: opacity;
      // animation-duration: 2s;
      // animation-iteration-count: infinite;
    }
    &__text {
      display: inline;
      float: left;
      margin: 0;
      margin-top: 20px;
      text-shadow: horizontal-offset vertical-offset blur color;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    &__list {
      color: #FF3A4F;
      // margin-top: 20px;
      padding-left: 300px;
      text-align: left;
      list-style: none;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      text-shadow: horizontal-offset vertical-offset blur color;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      &__item {
        line-height:80px;
        margin:0;
      }
    }
  }
}
@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
// 6 is the number of animation.
// Here, there are 4 lines :
// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1
// 6x + 6y = 100 (100% duration)
// HERE :
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line


// Responsive

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .content {
    width: 770px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  .content {
    display: none;
  }
  #home-title {
    font-size: 80px;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    display: none;
  }
  #home-title {
    font-size: 56px;
  }
}
