.ingredients-index-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.ingredients-index-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  background-color: #00304C;
  border: 1px solid white;

  &:hover #ingredients-index-1,
  &:hover #ingredients-index-2,
  &:hover #ingredients-index-3,
  &:hover #ingredients-index-4, {
    visibility: visible;
  }
}

// .ingredients-index-bar:nth-child(1) {
//   background-color: #157A6E;
// }

// .ingredients-index-bar:nth-child(2) {
//   background-color: #FF3A4F;
// }

// .ingredients-index-bar:nth-child(3) {
//   background-color: #499F68;
// }

// .ingredients-index-bar:nth-child(4) {
//   background-color: #06AED5;
// }


// hide the form inputs
.second-text-tag {
  visibility: hidden;
}

.third-text-tag {
  visibility: hidden;
}

.fourth-text-tag {
  visibility: hidden;
}

.ingredients-index-bar-container {
  width: 80%;
  height: 20%;
}

.slot-ingredient-name {
  color: white;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-weight: lighter;
}

.ingredients-index-bars {
  & #ingredient_1:active,
  & #ingredient_2::focus,
  & #ingredient_3:focus,
  & #ingredient_4

   {

  visibility: hidden;
  }
}

#ingredients-index-1,
#ingredients-index-2,
#ingredients-index-3,
#ingredients-index-4 {
  font-size: 30px;
  visibility: hidden;
}

#ingredient_1,
#ingredient_2,
#ingredient_3,
#ingredient_4 {
  border-radius: 20px;
  font-size: 16px;
  text-overflow: ellipsis;
  padding: 20px;
}

.fa-lock-open {
  color: white;
}
.fa-lock {
  visibility: visible;
  color: white;
}

.ingredients-index-lock-submit {
  background-color: transparent;
  border: none;
}

.container-ingredients {
  height: calc(100vh - 70px);
}

.ingredients-index-white-space-submit {
  display: flex;
  justify-content: center;
  height: 130px;
  background-color: white;
  align-items: center;
  width: 25%;
  margin: auto;
  border-radius: 45px 45px 0 0;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 37.5%;
}

.ingredients-submit-button {
  height: 80px;
  border-radius: 45px;
  padding: 15px;
  width: 80%;
  background-color: #00866A;
  color: white;
  transition: all .1s ease-in-out;

  &:hover {
    color: #00866A;
    background-color: white;
    border: 1px solid #00866A;

  }
}

.ingredients-index-white-space-shuffle {
  display: flex;
  justify-content: center;
  height: 130px;
  background-color: white;
  align-items: center;
  width: 25%;
  margin: auto;
  border-radius: 0 0 45px 45px;
  z-index: 10;
  position: absolute;
  top: 70px;
  left: 37.5%;
}

.ingredients-shuffle-button {
  height: 80px;
  border-radius: 45px;
  padding: 15px;
  width: 80%;
  background-color: #FF3A4F;
  color: white;
  transition: all .1s ease-in-out;

  &:hover {
    color: #FF3A4F;
    background-color: white;
    border: 1px solid #FF3A4F;

  }
}

// Media responsiveness

@media only screen and (max-width: 550px) {

  .ingredients-index-container {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  }
  .ingredients-index-bar-container {
  width: 85%;;
  }
  .ingredients-index-bars {
    width: 100%;
    height: 25%;
    flex-direction: row;
  }
  .ingredients-index-white-space-shuffle {
    height: 15px;
    background-color: transparent;
    left: 0;
    width: 50%;
    top: unset;
  }
  .ingredients-index-white-space-submit {
    height: 90px;
    background-color: transparent;
    right: 0;
    width: 50%;
  }
  .ingredients-form-input {
    width: 80%;
    margin-right: 0;
  }

  #ingredients-index-1,
  #ingredients-index-2,
  #ingredients-index-3,
  #ingredients-index-4 {
    visibility: visible;
  }

  .ingredients-shuffle-button {
    height: 50px;
  }

  .ingredients-submit-button {
    height: 50px;
  }
  .media-white-space {
    background-color: white;
    height: 100px;
  }

  // Recipes
  .container-selected-recipes {
  display: flex;
  width: 100%;
  flex-direction: column;
  }

  .selected-recipes {
    width: 100%;
  }
  .card-recipe {
    position: unset;
  }

}
