.ingredients-index-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ingredients-index-bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  background-color: #00304C;
  border: 1px solid white;

  &:hover #ingredients-index-1,
  &:hover #ingredients-index-2,
  &:hover #ingredients-index-3,
  &:hover #ingredients-index-4, {
    visibility: visible;
  }
}

.ingredients-index-bar-container {
  width: 80%;
  height: 20%;
}

.ingredients-index-bars {
  & #ingredient_1:active,
  & #ingredient_2::focus,
  & #ingredient_3:focus,
  & #ingredient_4

   {

  visibility: hidden;
  }
}


// .ingredients-form-input:not(:focus) {
//   visibility: hidden;
// }

// .ingredients-form-input:focus {
//   visibility: visible;
//   border: 5px solid red;
// }

#ingredients-index-1,
#ingredients-index-2,
#ingredients-index-3,
#ingredients-index-4 {
  font-size: 30px;
  visibility: hidden;
}

.fa-lock-open {
  color: white;
}
.fa-lock {
  visibility: visible;
  color: white;
}

.ingredients-index-lock-submit {
  background-color: transparent;
  border: none;
}

.container-selected-recipes {
  min-height: 80vh;
}

.container-ingredients {
  height: calc(100vh - 70px);
}
