.recipe-card-link-shopping-list {
  z-index: 2;
  position: absolute;
  top: 35px;
  right: 55px;
  z-index: 3;
}

.recipe-card-link-cooking-mode {
  z-index: 2;
  position: absolute;
  top: 35px;
  right: 25px;
  z-index: 3;
}
