.banner-recipe {
  color: white;
  text-align: center;
  height: 500px;
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#cook-now {
  height: 150px;
  width: 150px;
  background-color: #FF3A4F;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  opacity: 0.7;
}

.cook-now-button {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.06), 0 3px 8px 1px rgba(0, 0, 0, 0.16);
}


.shopping-list-submit {
  height: 150px;
  width: 150px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#log-in-required-shopping-list {
  height: 150px;
  width: 150px;
  background-color: #00ACA5;
  border-radius: 50%;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

#add-to-shopping-list {
  height: 150px;
  width: 150px;
  background-color: #00ACA5;
  border-radius: 50%;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  opacity: 0.7;
}

.ingredients__col-1 {
  align: left;
  width: 30%;
}

.ingredients__col-2 {
  width: 70%;
}

.recipe-ingredients {
  width: 100%;
}

.recipe-show-wrapper {
  background-color: #FFFFFF;
}


.recipe-show-image-box {
  position: relative;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.white-box-show {
  border: 1px solid #cfd8dc;
  padding: 20px;
  margin-left: 25px;
  border-radius: 5px;
  width: 70%;
}

.recipe-info-details {

  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  ul {
    padding: 0;
  }

  li {
    float: left;
    display: block;
    padding: 5px 16px;
  }

  li:first-child {
    padding-left: 0;
  }
}

#recipe-title {
  font-size: 40px;
  font-weight: lighter;
}

