.recipe-card-link-shopping-list {
  z-index: 2;
  position: absolute;
  bottom: 2px;
  left: 20px;
  z-index: 3;
}

.recipe-card-link-cooking-mode {
  z-index: 2;
  position: absolute;
  bottom: 2px;
  left: 50px;
  z-index: 3;
}


.recipe-card-link-cooking-mode:hover {
  text-decoration: none;
}

.recipe-card-link-shopping-list:hover {
  text-decoration: none;
}

.btn-popover {
  position: absolute;
  bottom: 4px;
  left: 250px;
  font-size: 12px;
}
