<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<div class="row">
  <% @selected_recipes.each do |recipe| %>
  <div class="col-xs-12 col-md-3">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
      <h2 class="card-recipe-name">
        <%= recipe.name %>
      </h2>
      <p class="card-recipe-ingredients">
        <ul>
          <% recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
  <% end %>
</div>
