.shopping-list-recipe-card {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 15px;
  background: transparent;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  height: 100px;
}

.shopping-list-recipe-card-photo {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.shopping-list-recipe-card-remove {
  font-size: 12px;
}

.shopping-list-recipe-card-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shopping-list-recipe-card h2 {
  font-size: 20px;
  font-weight: bolder;
}

.shopping-list-recipe-card-ingredients {
  // flex-grow: 1;
  list-style-type: none;

  li {
    // display: inline-block
    max-width: 250px;
    text-overflow: ellipsis;
    opacity: 0.8;
  }

  li:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  li:nth-child(odd) {
    background-color: #00DEC7;
  }

  li:nth-child(even) {
    background-color: #00ACA5;
  }
}

.shopping-list-recipe-card-ingredients li {
  margin: 5px;
  background: #9FDBDC;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.shopping-list-recipe-card-values {
  font-size: 12px;
}
