.space {
  height: 70px;
}

.card-recipe {
  overflow: hidden;
  color: #484848;
  height:500px;
  display:border-box;
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  background: #F4F4F8;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
  -webkit-transition:all .4s cubic-bezier(1,.4,.4,1);
  transition:all .4s cubic-bezier(1,.4,.4,1);
  margin: 5px 10px 10px 10px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.card-recipe > .setting{
    font-size:.75em;
    color:#f6f6f6;
    position:absolute;
    right:15px;
    top:15px;
}

.container-tag {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  border: solid 1 px #484848;
  // box-shadow: 0 4px 10px 1px;
  margin-bottom: 20px;
}

.tag-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 36px;
}

.recipe-tag {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-weight: bold;
}

.box-tag {
  display: block;
  align-content: center;
  align-items: center;
  & p {
    font-size: 16px;
  }
}

.tag-time {
  background-color: #F4F4F8;
  border: solid 2px #FF3A4F;
}

.tag-calories {
  background-color: #F4F4F8;
  border: solid 2px #00ACA5;
}

.tag-diego {
  background-color: #F4F4F8;
  border: solid 2px #D4AF37;
}


.card-recipe > .setting >.fa:first-child{
    margin-bottom:15px;
}

.card-recipe > .setting >.fa:hover{opacity:1;}
.card-recipe > .setting >.fa{
    display:block;
    cursor:pointer;
    opacity:.85;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}

.card-recipe > .setting >.fa.active{color:red;opacity:1}
.card-recipe > .image {
  width: 100%;
  height: 80%;
  // background: -webkit-linear-gradient(rgba(255,255,255,0) 50%, rgba(252,252,252,0) 50%, rgba(246,246,246,1) 90%), url(pizza.jpeg);
  // background: linear-gradient(rgba(255,255,255,0) 50%, rgba(252,252,252,0) 50%, rgba(246,246,246,1) 90%), url(pizza.jpeg);
  background-size: cover !important;
  background-position: center center;
}

.card .card-description {
  padding:0 3%;
  overflow-y: hidden;

}
.card-recipe .card-description h4 {
  font-weight: bold;
}

.selected-recipe-title {
  margin-bottom: -10px;
}

.selected-recipes-facts {
  position: absolute;
  color: white;
  /* font-size: 8px; */
  border: 1px solid white;
  width: 50%;
  padding-left: 5px;
  margin: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: all 1.8s ease-out;
  height: 20px;
  padding: 8px;

}

.show{
  opacity: 1;
  height: 11em;

  .content-recipes-facts {
    opacity: 1;
    transform:scaleY(1);
  }
}

.content-recipes-facts {
  overflow:hidden;
  transition:transform 0.3s ease-out;
  height:auto;
  transform:scaleY(0);
  transform-origin:top;
  p {
    font-size: 16px;
  }
}


.card-recipe .card-description > div {
  display: inline-block;
  // width: 100%;
  // margin: 0 3%;
      width: 90%;
    padding: 10px;
    padding-left: 15px;

  }

.card-recipe .card-description h4{
  font-size: 24px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}


// .card-recipe-name {
//   font-size: 16px;
//   position: absolute;
//   top: 5px;
//   left: 8px;
//   // margin-top: 15px !important;
//   font-weight: normal;
// }
// .card-recipe-details {
//   // padding: 0px !important;
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
//   position: absolute;
//   bottom: 100px;
//   left: 8px;
// }

// // .card-recipe-name {
// //   font-size: 24px;
// //   position: absolute;
// //   top: 0px;
// //   left: 8px;
// //   margin-top: 15px !important;
// //   font-weight: normal;
// // }
// // .card-recipe-ingredients {
// //   padding: 0px !important;
// //   font-size: 14px;
// //   opacity: 0.7;
// //   font-weight: lighter;

// //   position: absolute;
// //   top: 0;
// //   bottom: 0;
// //   right: 0;
// //   width: 100%;
// //   z-index: 2;
// //   background: black;
// //   opacity: 0;
// //   color: red;
// // }

// .card-footer {
//   position: absolute;
//   bottom: 0px;
//   left: 0px;
//   opacity: 0.8;
// }

