.space {
  height: 100px;
}

.card-recipe {
  overflow: hidden;
  color: #484848;
  height:500px;
  display:border-box;
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  background: #F4F4F8;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
  -webkit-transition:all .4s cubic-bezier(1,.4,.4,1);
  transition:all .4s cubic-bezier(1,.4,.4,1);
  margin: 5px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.card-recipe > .setting{
    font-size:.75em;
    color:#f6f6f6;
    position:absolute;
    right:15px;
    top:15px;
}

.card-recipe > .setting >.fa:first-child{
    margin-bottom:15px;
}

.card-recipe > .setting >.fa:hover{opacity:1;}
.card-recipe > .setting >.fa{
    display:block;
    cursor:pointer;
    opacity:.85;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}

.card-recipe > .setting >.fa.active{color:red;opacity:1}
.card-recipe > .image {
  width: 100%;
  height: 80%;
  // background: -webkit-linear-gradient(rgba(255,255,255,0) 50%, rgba(252,252,252,0) 50%, rgba(246,246,246,1) 90%), url(pizza.jpeg);
  // background: linear-gradient(rgba(255,255,255,0) 50%, rgba(252,252,252,0) 50%, rgba(246,246,246,1) 90%), url(pizza.jpeg);
  background-size: cover !important;
  background-position: center center;
}

.card .card-description {
  padding:0 3%;
  overflow-y: hidden;

}
// .card-recipe .card-description h4,
// .card-description h5 {
//   margin:0; padding:0;
// }

.selected-recipe-title {
  margin-bottom: -10px;
}


.card-recipe .card-description > div {
  display: inline-block;
  // width: 100%;
  // margin: 0 3%;
      width: 90%;
    padding: 10px;
    padding-left: 15px;

  }

.card-recipe .card-description h4{
  font-size: 24px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}


// .card-recipe-name {
//   font-size: 16px;
//   position: absolute;
//   top: 5px;
//   left: 8px;
//   // margin-top: 15px !important;
//   font-weight: normal;
// }
// .card-recipe-details {
//   // padding: 0px !important;
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
//   position: absolute;
//   bottom: 100px;
//   left: 8px;
// }

// // .card-recipe-name {
// //   font-size: 24px;
// //   position: absolute;
// //   top: 0px;
// //   left: 8px;
// //   margin-top: 15px !important;
// //   font-weight: normal;
// // }
// // .card-recipe-ingredients {
// //   padding: 0px !important;
// //   font-size: 14px;
// //   opacity: 0.7;
// //   font-weight: lighter;

// //   position: absolute;
// //   top: 0;
// //   bottom: 0;
// //   right: 0;
// //   width: 100%;
// //   z-index: 2;
// //   background: black;
// //   opacity: 0;
// //   color: red;
// // }

// .card-footer {
//   position: absolute;
//   bottom: 0px;
//   left: 0px;
//   opacity: 0.8;
// }

